[MESSAGES CONTROL]
disable = broad-except, missing-docstring, multiple-imports, too-few-public-methods, too-many-arguments, too-many-locals, too-many-positional-arguments

[FORMAT]
max-line-length = 180
